h1 {
    background-color: tomato;
    margin: 5px;
    margin-bottom: 20px;
    display: flex;
}

p {
    float: left;
    background-color: tomato;
    margin: 10px;
    margin-bottom: 30px;
}

nav {
    font-size: x-large;
    background-color: rgba(57, 114, 168, 0.733);
    background-size: 20px;
    color: white;
    display: flex;
}

body {
    background-color: rgba(255, 255, 255, 0.562);
}

a:link {
    color: aliceblue; 
    text-decoration: none;
    padding: 30px;
}
a:visited { 
    color: aliceblue; 
    text-decoration: none; 
}
a:hover { 
    color: rgba(0, 136, 255, 0.726); 
    text-decoration: none; 
}
a:active { 
    color: rgba(255, 255, 255, 0.39); 
    text-decoration: none; 
}
